.login {
   display: grid;
   place-items: center;
   height: 100vh; // Ensure full height of viewport
   width: 100%;

   .container {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      max-width: 300px;

      h1 {
         margin: 0;
         font-size: 24px;
      }

      p {
         font-size: 14px;
         color: #666; // Slightly darker text for the paragraph
      }
   }

   form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input, button {
         font-size: 14px;
         border-radius: 2px;
         padding: 8px;
         width: 100%;
      }

      input {
         border: 1px solid #ccc;
      }

      button {
         background: rgb(8, 165, 218);
         border: none;
         color: white;

         &:disabled {
            background-color: lightblue;
         }
      }
   }
}
